:root {
    --card-width: 
}

body {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

main {
    height: 300%;
    display: flex;
    flex: 1;
    flex-direction: column; 
    background-image: linear-gradient(-140deg, #1b5e20, #4caf50);
}

.games {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 3rem;
    height: 100%;
}

.gameTile {
    margin-bottom: 5rem;
}

.game-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5rem solid white;
    border-radius: 1rem;
    aspect-ratio: 2 / 3;
    width: 15rem;
    margin: 1rem;
    color: black;
}

.card-name{
    font-weight: 800;
    background-color: #444444cc;
    padding: 0.5rem;
    border-radius: 0.4rem;
}

.card-row {
    padding: 1rem 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 150%;
    left: -25%;
    z-index: 1;
}

.card-back {
    background-image: url(https://deckofcardsapi.com/static/img/X2.png);
    background-size: 115%;
    background-position: center;
}

.card-row > img {
    height: 3.5rem;
    margin: 0.5rem;
}

.game-card:hover, .card:focus {
    background-color: transparent;
    color: white;
}

@media ( hover ) {
    .card-overlay {
        background-color: #99999966;
        background-blend-mode: overlay;
    }
}
